<div class="all_trans_cat">

  <h1><%="All Transactions for #{@tag_name}"  %></h1>

  <h2>Running Total: <%= "£#{@tag_amount}" %></h2>
  <h3><%= "WARNING! OVER BUDGET!" if (Transaction.total_amount).to_i > 60 %></h3>

  <div style="align-items: center">

    <table class="dates">
      <tr class="daterow">

      <td><a href="/transactions/index">ALL</a></td>
      <td><a href="/transactions/by_month/1">JAN</a></td>
      <td><a href="/transactions/by_month/2">FEB</a></td>
      <td><a href="/transactions/by_month/3">MAR</a></td>
      <td><a href="/transactions/by_month/4">APR</a></td>
      <td><a href="/transactions/by_month/5">MAY</a></td>
      <td><a href="/transactions/by_month/6">JUN</a></td>
      <td><a href="/transactions/by_month/7">JUL</a></td>
      <td><a href="/transactions/by_month/8">AUG</a></td>
      <td><a href="/transactions/by_month/9">SEP</a></td>
      <td><a href="/transactions/by_month/10">OCT</a></td>
      <td><a href="/transactions/by_month/11">NOV</a></td>
      <td><a href="/transactions/by_month/12">DEC</a></td>

      </tr>
    </table>



  </div>



  <table>
    <tr>
      <th>Date/Time</th>
      <th>Vendor</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Details</th>
      <th></th>
      <th></th>

    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date_time %></td>
      <td><%= transaction.vendor %></td>
      <td><%= "£#{'%.2f' % (transaction.amount.to_i/100.0)}" %></td>
      <td><%= transaction.get_tag %></td>
      <td><%= transaction.details %></td>
      <td><form method="POST" action="/transactions/<%=transaction.id%>/delete">
        <input class="bin" type="image" name="delete" src="/images/delete.png"/>
      </form></td>
      <td><a href="/transactions/<%= transaction.id %>/edit"><img src="/images/edit.png" alt="Edit" width="18" height="18" border="0"></a></td>



    </tr>


    <% end %>

  </table>
