<div class="all_trans">

  <h1>All Transactions</h1>

  <h2>Running Total: <%= "£#{Transaction.total_amount}" %></h2>


  <table>
    <tr>
      <th>Date/Time</th>
      <th>Vendor</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Details</th>
      <th></th>
      <th></th>

    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date_time %></td>
      <td><%= transaction.vendor %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.get_tag %></td>
      <td><%= transaction.details %></td>
      <td><form method="POST" action="/transactions/<%=transaction.id%>/delete">
        <input type="submit" name="delete" value="Delete"/>
      </form></td>
      <td><a href="/transactions/<%= transaction.id %>/edit">Edit</a></td>



    </tr>


    <% end %>

  </table>



</div>
