<div class="all_trans">

  <h1>All Transactions</h1>

  <h2>Running Total: <%= "£#{Transaction.total_amount}" %></h2>


  <table>
    <tr>
      <th>Date/Time</th>
      <th>Vendor</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Details</th>
      <th></th>

    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date_time %></td>
      <td><%= transaction.vendor %></td>
      <td><%= "£#{'%.2f' % (transaction.amount.to_i/100.0)}" %></td>
      <td><%= transaction.get_tag %></td>
      <td><%= transaction.details %></td>
      <td><p><a href="/transactions/<%= transaction.id %>">Show</a></p></td>


    </tr>


    <% end %>

  </table>



</div>
