<p>Show transaction details</p>

<p>Date/Time: <%=@transaction.date_time%></p>
<p>Vendor: <%=@transaction.vendor%></p>
<p>Amount: <%= @transaction.amount %></p>
<p>Category: <%=@transaction.get_tag%></p>
<p>Details: <%=@transaction.details%></p>
